*:hover, *:focus{
	text-decoration: none;
}
.content {
	margin-top: 2em;
	padding: 0 20px 0 30px;
}
.btn-confirm {
	color: #fff;
	background:#21abc4;
	border: none;
	min-width: 68px;
	float: right;
	margin-top: 20px;
}
.btn-confirm:hover {
	background:#1D94A9;
}
img {
	display: block;
}
form {
	margin-top: 20px;	
}
textarea {
	border-color: #ccc;
	width: 100%;
}
a + p {
	margin-top: 1em;
}