<div class="row">
    <div class="col-sm-3">
      <a href="/"><img src="/type/400x100_logo.gif" class="img-responsive logo"></a>
    </div>
    <div class="col-sm-9">
       <section class="search"> 
          <ul class="right">
            <li>
              <form class="sidebar-search">
                  <a href="#">
                    <input type="search" placeholder="Search..." class="box">
                    <i class="fa fa-search"></i>
                  </a>                  
              </form>
            </li> 
          </ul>
        </section>
    </div>
</div>