<div class="content">     
  <div class="row">
      <!-- section 0 -->
      <div class="col-xs-12">
        <img src="<%=value.list[0].img%>">
        <a href="#">
          <div class="panel">
            <h1><%=value.list[0].title%></h1>
            <h3><%=value.list[0].body%></h3> 
          </div>
        </a>     
      </div>
      <!-- section 1 -->
      <div class="col-xs-12">
        <img src="<%=value.list[1].img%>">
        <a href="#">
          <div class="panel">
            <h1><%=value.list[1].title%></h1>
            <h3><%=value.list[1].body%></h3> 
          </div>
        </a>     
      </div>
      <!-- section 2 -->
      <div class="col-xs-12">
        <img src="<%=value.list[2].img%>">
        <a href="#">
          <div class="panel">
            <h1><%=value.list[2].title%></h1>
            <h3><%=value.list[2].body%></h3> 
          </div>
        </a>     
      </div>
      <!-- section 3 -->
      <div class="col-xs-12">
        <img src="<%=value.list[3].img%>">
        <a href="#">
          <div class="panel">
            <h1><%=value.list[3].title%></h1>
            <h3><%=value.list[3].body%></h3> 
          </div>
        </a>     
      </div>
      <!-- section 4 -->
      <div class="col-xs-12">
        <img src="<%=value.list[4].img%>">
        <a href="#">
          <div class="panel">
            <h1><%=value.list[4].title%></h1>
            <h3><%=value.list[4].body%></h3> 
          </div>
        </a>     
      </div>
      <!-- section 5 -->
      <div class="col-xs-12">
        <img src="<%=value.list[5].img%>">
        <a href="#">
          <div class="panel">
            <h1><%=value.list[5].title%></h1>
            <h3><%=value.list[5].body%></h3> 
          </div>
        </a>     
      </div>
      <% block('/type3/sidebar'); %> 
  </div>
</div>
  
