*:hover, *:focus{
	text-decoration:none;
}
.content {
	padding: 20px;
}
.btn-confirm {
	color: #fff;
	background:#21abc4;
	border: none;
	min-width: 68px;
	float: right;
	margin-top: 20px;
    font-size: 1.5em;
}
.btn-confirm:hover {
	background:#1D94A9;
}
img {
	display: block;
}
form {
	margin-top: 20px;
}
.control-label, 
.form-control {
	font-size: 1.2em;
}
textarea {
	border-color: #ccc;
	width: 100%;
}
.map {
	margin-left: -15px;
}
h4{	
	font-size: 3em;
}
p {	
	font-size: 1.5em;
	margin-top: 0.5em;
}