.logo {
	margin: 0.7em auto;
  display: block;
}
.search {
	margin: 0.7em auto;
}
ul {
  width: 100%;
}
ul li {
	list-style-type: none;
}
.box {
  width:500px;
  height: 70px;
  margin:20px 32px 0;
  padding:20px;
  color: #aaa;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -o-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px; 
  position: relative;  
  outline: none;
}
i {
	font-size: 32px;
  position: absolute;
	left: 700px;
	top: 48px;
	z-index: 1;
	color: #ddd;
}
i:hover {
  color: #008CBA;
}
input {
  font-size: 2em;
}
::-webkit-input-placeholder { color:#C5C5C5; } /* chrome */
::-moz-placeholder { color:#C5C5C5; } /* firefox 19+ */
:-ms-input-placeholder { color:#C5C5C5; } /* ie */
input:-moz-placeholder { color:#C5C5C5; } /* firefox */