<div class="content">     
  <div class="row"> 
    <% block('/type3/sidebar'); %>  
    <!-- 右側內容 --> 
    <div class="col-sm-9">
      <!-- section 0 -->
      <div class="col-sm-4">
        <img src="<%=value.list[0].img%>">
        <a href="#">
          <div class="panel">
            <h4><%=value.list[0].title%></h4>
            <h5><%=value.list[0].body%></h5> 
          </div>
        </a>     
      </div>
      <!-- section 1 -->
      <div class="col-sm-4">
        <img src="<%=value.list[1].img%>">
        <a href="#">
          <div class="panel">
            <h4><%=value.list[1].title%></h4>
            <h5><%=value.list[1].body%></h5> 
          </div>
        </a>     
      </div>
      <!-- section 2 -->
      <div class="col-sm-4">
        <img src="<%=value.list[2].img%>">
        <a href="#">
          <div class="panel">
            <h4><%=value.list[2].title%></h4>
            <h5><%=value.list[2].body%></h5> 
          </div>
        </a>     
      </div>
      <!-- section 3 -->
      <div class="col-sm-4">
        <img src="<%=value.list[3].img%>">
        <a href="#">
          <div class="panel">
            <h4><%=value.list[3].title%></h4>
            <h5><%=value.list[3].body%></h5> 
          </div>
        </a>     
      </div>
      <!-- section 4 -->
      <div class="col-sm-4">
        <img src="<%=value.list[4].img%>">
        <a href="#">
          <div class="panel">
            <h4><%=value.list[4].title%></h4>
            <h5><%=value.list[4].body%></h5> 
          </div>
        </a>     
      </div>
      <!-- section 5 -->
      <div class="col-sm-4">
        <img src="<%=value.list[5].img%>">
        <a href="#">
          <div class="panel">
            <h4><%=value.list[5].title%></h4>
            <h5><%=value.list[5].body%></h5> 
          </div>
        </a>     
      </div>
  </div>
</div>
  
