<div class="content">  
    <div class="col-xs-12">
      <img src="<%=value.list[0].img%>" class="img-thumbnail">
      <h3><%=value.list[0].title%></h3>
      <p><%=value.list[0].body%></p>
      <p><%=value.list[0].p%></p>
    </div>
    <hr>
    <div class="col-xs-12">
      <img src="<%=value.list[1].img%>" class="img-thumbnail">
      <h3><%=value.list[1].title%></h3>
      <p><%=value.list[1].body%></p>
      <p><%=value.list[1].p%></p>
    </div>
    <hr>
    <div class="col-xs-12">
      <img src="<%=value.list[2].img%>" class="img-thumbnail">
      <h3><%=value.list[2].title%></h3>
      <p><%=value.list[2].body%></p>
      <p><%=value.list[2].p%></p>
    </div>
    <hr>
</div>
<div class="sidebar"></div>
  
