body {
	background: #BCD0D8;
	color: #222;
	padding: 0;
	margin: 0;
	font-family: Arial,"Helvetica Neue",Helvetica,Roboto,sans-serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	cursor: auto;
}
#pgContainer {
	margin: 20px auto;
	width: 1024px;
	background: #fff;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-o-box-shadow: 0px 0px 20px #6C6C6C;
	-ms-box-shadow: 0px 0px 20px #6C6C6C;
	-moz-box-shadow: 0px 0px 20px #6C6C6C;
	-webkit-box-shadow: 0px 0px 20px #6C6C6C;
	box-shadow: 0px 0px 20px #6C6C6C;
}
#pgHead, #pgFooter, #pgMain,{
	width: 100%;
	padding: 0;
	margin: 0;
}
#pgLeft {
	float: left;
	padding: 0;
	margin: 0;
	width: 230px;
	min-height: 600px;
}
#pgContent {
	padding: 15px;
	margin: 0;
	min-height: 600px;
	overflow: hidden;
  	background: #fff;
  	-webkit-transition: margin-left .3s ease;
  	-moz-transition: margin-left .3s ease;
  	-o-transition: margin-left .3s ease;
  	-ms-transition: margin-left .3s ease;
 	 transition: margin-left .3s ease;	
}
#pgFooter {
	clear: both;
}

div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, pre, form, 
p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	color: #222222;
	text-rendering: optimizeLegibility;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}
p {
	font-family: inherit;
	font-weight: normal;
	font-size: 1.2em;
	line-height: 1.6em;
	margin-bottom: 0.7em;
	text-rendering: optimizeLegibility;
}
ul, ol, dl {
	font-size: 1.25em;
	line-height: 1.6em;
	margin-bottom: 1.25em;
	list-style-position: outside;
	font-family: inherit;
}


