<footer class="row">
    <div class="col-md-12">
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <p>This website is powered by coServ -- a new generation web server project by COIMOTION</p>
        </div>
        <div class="col-md-6">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>