*:hover, *:focus {
	text-decoration: none;
}
.content {
	margin: 20px 0;
}
img {
	display: block;
	margin: 0 auto;
	min-width: 90%;
	max-width: 100%;
	height: auto;
}
.panel {
	border: 1px solid #d8d8d8;
	border-radius: 0 0 4px 4px;
	width: 100%;
	margin: 0 auto 1.25em;
	padding: 0.5em 1em 0;
	background: #f2f2f2;
	font-weight: normal;
}
.panel h4 {
	line-height: 24px;
	color: #aaa;	
}
.panel:hover h4 {
	color: #333;
}
.panel h5 {
	color: #FF0000;
	text-align: right;
}