p {
	font-size: 0.8em;
	margin-top: 2em;
	padding-left: 1em;
	padding-right: 1em;
	color: rgba(0,0,0,0.5);
}
.inline-list {
	margin: 0 auto !important;
	padding: 0;
	list-style: none;
	overflow: hidden;
	display: inline-block;
}
.inline-list>li {
	list-style: none;
	float: left;
	margin-left: 1.2em;
	display: block;
}
.inline-list>li:first-child {
	margin-left: 0px;
}
.inline-list>li>* {
	display: block;
}
a {
	color: #61A8DC;
	text-decoration: none;
	line-height: inherit;
}
