img {
	display: block;
	margin: 0 auto;
}
.logo {
	margin: 0.2em auto 0;
	width: 60%;
}
.button-group {
	list-style: none;
	margin: 0.4em auto 3em;
}
.button-group>li {
	margin: 0;
	display: block;
	float: left;
	width: 25%;
}
.button-group>li:first-child .button {
	border-left: 0;
}
.button-group>li>button, 
.button-group>li .button {
	border-left: 1px solid rgba(255,255,255,0.5);
}
.button {
	cursor: pointer;
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: normal;
	line-height: normal;	
	margin: 0;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	border-radius: 0;
	display: block;
	padding: 0.5em 1em;
	font-size: 1.2em;
	background: #61A8DC;
	border: 0px solid #61A8DC;
	color: #FFFFFF;
	transition: background-color 300ms ease-out;
}