hr {	
	margin-top: 0;
}
p {
	font-size: 1em;
	margin: 1em auto;
	color: rgba(0,0,0,0.5);
}
.inline-list {
	list-style: none;
	margin: 0.2em auto 1.2em;
	padding: 0;
}
.inline-list>li {
	margin: 0 -3px 0 -2px;
	display: inline-block;	
}
.inline-list>li>a {
	border-left: 1px solid #ddd;
}
.inline-list>li>a:last-child {
	border-right: 1px solid #ddd;
}
a {
	cursor: pointer;
	line-height: normal;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	border-radius: 0;
	display: inline-block;
	padding: 0.25em 1em;
	font-size: 1.2em;
	color: #61A8DC;
	transition: color 100ms ease-out;
}
a:hover {
	color: #297CBA;
}
