<div class="orbit-container">
  <ul class="orbit-slides">
    <li class="active">
       <img src="<%=value.list[0].banner%>" class="banner">
    </li>
    <li>
       <img src="<%=value.list[1].banner%>" class="banner">
    </li>
    <li>
       <img src="<%=value.list[2].banner%>" class="banner">
    </li>
  </ul>
  <a href="#"><img src="/type/prev.png" class="prev"></a>
  <a href="#"><img src="/type/next.png" class="next"></a>
  <div class="orbit-bullets-container">
    <ol class="orbit-bullets">
       <li data-orbit-slide="0" class="active"></li>
       <li data-orbit-slide="1" class=""></li>
       <li data-orbit-slide="2" class=""></li>
    </ol>
  </div>
</div>

<nav>
  <ul class="button-group">
    <li class="wc25"><a href="/type3/contact" class="button">Link 1</a></li>
    <li class="wc25"><a href="/type3/contact" class="button">Link 2</a></li>
    <li class="wc25"><a href="/type3/contact" class="button">Link 3</a></li>
    <li class="wc25"><a href="/type3/contact" class="button">Link 4</a></li>
  </ul>
</nav>
