/*banner*/
.orbit-container {
	overflow: hidden;
	width: 100%;
	position: relative;
	background: none;
}
.orbit-slides {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-transform: translateZ(0);
}
.orbit-slidesr > * {
	position: absolute;
	top: 0;
	width: 100%;
	margin-left: 100%;
	z-index: 2;
}
.active {
	z-index: 4;
	margin-left: 0%;
}
img.banner {
	display: block;
	max-width: 100%;
	width: 100%;
}
.prev, .next {
	position: absolute; 
	top: 35%;
	z-index: 10; 
	opacity: 1; 
	width: 100px;
	height: 100px; 
	border-radius: 50px;
	background: rgba(255, 255, 255, .3);
	-webkit-transition-duration: 1s; 
	-moz-transition-duration: 1s; 
	-o-transition-duration: 1s; 
	-ms-transition-duration: 1s; 
	transition-duration: 1s; 
}
.prev {
	left: -50px; 
    background-position: 40px center;
}
.next {
	right: -50px; 
    background-position: -120px center;
}

.orbit-bullets-container {
	text-align: center;
	margin-bottom: -28px;
}
ol.orbit-bullets {
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	top: -40px;
	float: none;
	text-align: center;
	display: block;
}
ol.orbit-bullets li {
	cursor: pointer;
	display: inline-block;
	width:  0.6em;
	height: 0.6em;
	background: #fff;
	float: none;
	margin-right: 6px;
	border-radius: 10px;
}
.orbit-bullets li.active {
	background: #999;
}
.orbit-bullets li:last-child {
	margin-right: 0;
}

/*nav*/
.button-group {
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}
.wc25 {
	width: 25%;
}
.button-group > li {
	margin: 0px;
	padding: 0px;
	float: left;
	list-style: none;
}
.button-group > li >.button {
	display: block;
	cursor: pointer;	
	font-weight: normal;
	line-height: normal;
	position: relative;
	text-decoration: none;
	text-align: center;
	/*-webkit-appearance: none;*/	
	padding: 0.8em;
	margin: 0;
	font-size: 1.8em;	
	color: #fff;
	transition: background 30ms ease-out;
	background:	#565656; /* Old browsers */
    background: -moz-linear-gradient(top, #565656 0%, #000000 50%, #000000 51%, #333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(50%,#000000), color-stop(51%,#000000), color-stop(100%,#333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #565656 0%,#000000 50%,#000000 51%,#333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #565656 0%,#000000 50%,#000000 51%,#333 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #565656 0%,#000000 50%,#000000 51%,#333 100%); /* IE10+ */
    background: linear-gradient(to bottom, #565656 0%,#000000 50%,#000000 51%,#333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#333',GradientType=0 ); /* IE6-9 */
}
.button-group > li >.button:hover {
	background:	#797979; /* Old browsers */
    background: -moz-linear-gradient(top, #797979 0%, #2F2F2F 50%, #2F2F2F 51%, #696969 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#797979), color-stop(50%,#2F2F2F), color-stop(51%,#2F2F2F), color-stop(100%,#696969)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #797979 0%,#2F2F2F 50%,#2F2F2F 51%,#696969 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #797979 0%,#2F2F2F 50%,#2F2F2F 51%,#696969 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #797979 0%,#2F2F2F 50%,#2F2F2F 51%,#696969 100%); /* IE10+ */
    background: linear-gradient(to bottom, #797979 0%,#2F2F2F 50%,#2F2F2F 51%,#696969 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#797979', endColorstr='#696969',GradientType=0 ); /* IE6-9 */
}